.layout {
  background-color: #040912; /* Koyu mavi tonu */
}

.site-layout-content {
  background: #03121f; /* Koyu mavi tonu */
  padding: 110px;
  min-height: 28px;
  margin: 24px ;
  text-align: center;
  animation: fadeIn 1s ease; /* Sayfa yüklendiğinde fadeIn animasyonu */
  position: relative;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 36px;
  color: #060000; /* Parlak mavi tonu */
  margin-bottom: 16px;
  text-align: center; /* Başlık ile açıklama arasındaki boşluğu azalttım */
}


