.body {
  background-color: #5D4037; /* Açık gri tonu */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(221, 216, 216, 0.1);
    
}
.Layout-back{
  background-color: #8D6E63 ;
}



.form {
  width: 1000%;
}

.form-item {
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}

