.body {

    position: relative;
    /* background:transparent; */
    width: 400px;
    height: 440px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    /* backdrop-filter: blur(20px); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   

  }

  
  .h1 {
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin-bottom: 24px;
  }
  
  form {
    width:100%;
    border: radius 20px;
    
  }
  
  .form-item {
    margin-bottom: 50px;
    border-radius:100px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: auto;
  
  }
  .Layout{
    background-color: #F3FF90
  }
  

  