.Layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
  }
    .List-student {
    width: 100%;
    max-width: 600px;
    background-color: #616a62;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
   
  }

  .ListItem-student {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff; 
    border-radius: 6px;
  }