.Layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #8D6E63;
  }
  

  h1 {
    color: #ffffff; 
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  

  .Form {
    width: 100%;
    max-width: 600px;
    background-color: #5D4037; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    backdrop-filter: blur(20px);
  }

  .Input,
  .TimePicker,
  .InputNumber {
    width: 100%;
  }

  .Button {
    width: 100%;
    background-color: black;
  }
  

  .List {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff; 
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    /* background-image: url(/src/assets/tekstury-seryy-fon-textures.jpg); */
  }
  
  .ListItem {
    padding: 100px;
    margin-bottom: 10px;
    background-color: #fafafa; 
    border-radius: 6px;
  }
  
  .ListItem div {
    color: #555555; 
   
  }
  
  .ListItem strong {
    font-weight: bold;
    text-align: center;
    
  }
  
  .ListItem ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    
  }
  
  .ListItem li {
    margin-bottom: 5px;
  }
  

  @media (max-width: 768px) {
    .Form,
    .List {
      max-width: 100%;
    }
  }

