

/* Menünün genel stilini özelleştirir */
.custom-menu {
  background-color: #5D4037; /* Menünün arka plan rengini değiştirir */
 
}

/* Menüdeki öğelerin stilini özelleştirir */
.custom-menu .ant-menu-item {
  color: #ffffff; /* Menü öğelerinin metin rengini değiştirir */
}

.custom-menu .ant-menu-item:hover {
  color: #000000; /* Menü öğeleri üzerine gelindiğinde metin rengini değiştirir */
}

.custom-menu .ant-menu-item-selected {
  color: #000000; /* Seçili menü öğesinin metin rengini değiştirir */
 
}




